.contacts {
    padding-top: 80px;
    padding-bottom: 160px;
    border-bottom: 1px solid var(--border-section-color);
}

.contacts__title {
    font-size: 36px;
    margin-bottom: 108px;
}

.contact-card {
    width: 210px;
    grid-column: auto / span 4;
    display: grid;
 }

.contact-card__wrapper {
    display: grid;
}

.contact-card__img {
    margin-bottom: 20px;
}

.contact-card__title {
    font-size: 17px;
    font-weight: 600;
    line-height: 180%;
    margin-bottom: 28px;
}

.contact-card__desc {
    max-width: 210px;
    font-size: 14px;
    line-height: 180%;
}

.contact-card__phone {
    width: fit-content;
    font-size: 14px;
    line-height: 180%;
    transition: all 0.2s ease-in-out;
}

.contact-card__email {
    width: fit-content;
    font-size: 14px;
    line-height: 180%;
    transition: all 0.2s ease-in-out;
}

.contact-card__phone:hover, .contact-card__email:hover {
    color: var(--color-light-blue);
}

.contact-card__phone:active, .contact-card__email:active {
    color: var(--color-dark-blue);
}

.contact-card__phone:focus, .contact-card__email:focus {
    outline: 1px solid var(--color-light-blue);
    outline-offset: 2px;
}